.header {
  // min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
}

.header p {
  font-size: 1.25rem;
}

.header img {
  width: 600px;
}

.footer {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer img {
  width: 100px;
  height: auto;
}

.footer span {
  font-size: 1rem;
}

.container {
  display: flex;
  padding: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.card-container {
  display: flex;
  margin: 4px;
}

.game-card {
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  /* Add shadow to the border */
}

.game-card img {
  width: 300px;
  height: 300px;
}



.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pagination button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination span {
  margin: 0 10px;
  font-size: 16px;
}

.invisible {
  display: none;
}

.error-message {
  color: red;
  font-weight: bold;
  margin: 10px 0;
  text-align: center;
}



.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;

  p {
    margin-top: 10px;
    color: #666;
  }

  ion-spinner {
    --color: #007bff;
    transform: scale(1.5);
  }
}


