<ion-content>
  <div class="header">
    <img title="logo" src="assets/logo_manual.png" />
    <p>Escolha seu jogo e tire todas suas dúvidas!</p>
  </div>
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="search()" placeholder="Buscar jogos..." animated>
  </ion-searchbar>
  <div class="container">
    @for (game of games; track game; let index = $index) {
    <div class="card-container" (click)="openChat(game.id)">
      <ion-card class="game-card">
        <img alt="Game Image" [src]="game.imageUrl" />
        <ion-card-header>
          <ion-card-title>{{ game.title }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{ game.description != null?game.description:game.title }}
        </ion-card-content>
      </ion-card>
    </div>
    }
  </div>

  <app-pagination
        [currentPage]="paginationInfo.currentPage"
        [pageSize]="paginationInfo.pageSize"
        [totalItems]="paginationInfo.totalItems"
        (pageChange)="onPageChange($event)">
      </app-pagination>


  <div class="footer">
    <span>Um serviço da Próximo Turno®</span>
    <img alt="Logo Próximo Turno" src="assets/logo_proximo_turno.png" />
  </div>
</ion-content>
